Tests: 10-hipercontracer-icmp
Restrictions: needs-sudo, needs-internet, allow-stderr
Depends: hipercontracer

Tests: 11-hipercontracer-udp
Restrictions: needs-sudo, needs-internet, allow-stderr
Depends: hipercontracer,
         hipercontracer-udp-echo-server

Tests: 20-hpct-results
Restrictions: allow-stderr
Depends: hipercontracer-common,
         hipercontracer-results

Tests: 30-dbeaver-tools
Restrictions: allow-stderr
Depends: hipercontracer,
         hipercontracer-dbeaver-tools,
         pwgen

Tests: 50-full-database-test
Restrictions: isolation-machine, breaks-testbed, needs-sudo, needs-internet, allow-stderr
Depends: hipercontracer-dbeaver-tools,
         hipercontracer-dbshell,
         hipercontracer-importer,
         hipercontracer-query,
         hipercontracer-results,
         pwgen,
         python3-netifaces,
         rsync
