Source: hipercontracer
Section: net
Priority: optional
Maintainer: Thomas Dreibholz <dreibh@iem.uni-due.de>
Homepage: https://www.uni-due.de/~be0001/hipercontracer
Build-Depends: cmake,
               debhelper (>= 9),
               libboost-date-time1.48-dev | libboost-date-time-dev (>= 1.48.0),
               libboost-filesystem1.48-dev | libboost-filesystem-dev (>= 1.48.0),
               libboost-iostreams1.48-dev | libboost-iostreams-dev (>= 1.48.0),
               libboost-system1.48-dev | libboost-system-dev (>= 1.48.0),
               libboost-thread1.48-dev | libboost-thread-dev (>= 1.48.0),
               libfile-fcntllock-perl,
               python3,
               python3-psycopg2
Standards-Version: 3.9.7
X-Python3-Version: >= 3.1

Package: hipercontracer
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Recommends: python3,
            python3-geoip,
            python3-psycopg2,
            python3-urllib3
Description: High-Performance Connectivity Tracer (HiPerConTracer) is a
 ping/traceroute service. It performs regular ping and traceroute runs
 among sites and can export the results into an SQL database.
