#!/usr/bin/make -f

# export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_RPATH_USE_ORIGIN=ON -DWITH_STATIC_LIBRARIES=ON -DWITH_SHARED_LIBRARIES=ON

# Use upstream ChangeLog for installation
override_dh_installchangelogs:
	dh_installchangelogs -k ChangeLog

# Do not enable services by default
override_dh_installsystemd:
	dh_installsystemd --no-enable
