[Unit]
Description=UDP Echo Server
Documentation=man:udp-echo-server(1)
After=network.target

[Service]
Type=simple
# Will change to user "nobody" after startup
User=root
KillMode=process
Restart=on-failure
EnvironmentFile=/etc/hipercontracer/udp-echo-server.conf
ExecStart=/usr/bin/udp-echo-server \
   --from-port ${FROM_PORT} \
   --to-port ${TO_PORT} \
   --user nobody
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=99
IOSchedulingClass=realtime

PrivateTmp=yes
InaccessibleDirectories=/home
# CapabilityBoundingSet=

[Install]
WantedBy=multi-user.target
